
.grid-container-1{
  display: inline-grid;
  grid: 120px / 180px 180px 180px 180px;
  grid-gap: 30px;
  background-color: #ffffff;
  margin-left: 50px;
}

.grid-container-2{
    display: inline-grid;
    grid: 120px / 180px 180px 180px 180px;
    grid-gap: 30px;
    background-color: #fffffffa;
    margin-left: 50px;
    margin-top: 20px;

  }

.jumbotron{
    padding-top: 10px;
    padding-bottom: 10px;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    border: 4px solid rgb(17, 16, 16);
    border-radius: 5px;
}
.icon-1{
   background-color: #d16957;
}
.icon-1 svg{
    margin-top: 35px;
}

.icon-2{
    background-color: #5bb4ca;
 }
 .icon-2 svg{
     margin-top: 35px;
 }
 .icon-3{
    background-color: #57bb57;
 }
 .icon-3 svg{
     margin-top: 35px;
 }
 .icon-4{
    background-color: #b5c050;
 }
 .icon-4 svg{
     margin-top: 35px;
 }
 
.icon-1-2{
 background-color: rgb(201, 82, 36);
}
.icon-1-2 svg{
    margin-top: 35px;
}

.icon-2-2{
    background-color: rgb(218, 233, 12);
}
.icon-2-2 svg{
    margin-top: 35px;
}
.icon-3-2{
    background-color: rgb(5, 156, 106);
}
.icon-3-2 svg{
    margin-top: 35px;
}
.icon-4-2 svg{
    margin-top: 45px;
}
.icon-4-2{
    background-color: rgb(235, 195, 20);
}
.contenido {
    background-color: #fcfcfc;
    width: 100%;
}
.titulo{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    margin-left: 10px;
    padding-top: 20px;
    
 }
.cantidad{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.7em;
    margin-left: 30px;
}
