@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.7em;
    color: rgb(36, 220, 233);
}
i{
    margin-right: 5px;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
.Principal{
 margin-left: 20px;
 font-size: 12px;
}

#sidebar {
    min-width: 150px;
    max-width: 150px;
    min-height: 100vh;
    background: #2f54e9;
    color: rgb(235, 240, 235);
    transition: all 0.3s;
    
}

#sidebar.active {
    margin-left: -100px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #0b34d6;
    font-size: 12px;
}
#sidebar .sidebar-header h5 {
    background: #0b34d6;
    font-size: 12px;

}

#sidebar ul.componentes {
    padding: 20px 0;
    border-top: 2px solid #0b34d6;
    border-bottom: 2px solid #0b34d6;
    margin-left: 5px;
    margin-right: 5px;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 12px;
    display: block;
    
    
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #0631dd;
}

ul ul a {
    font-size: 12px !important;
    padding-left: 30px !important;
    background: #031b7e;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
